* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "Dogica";
    src: url(./font/dogica.ttf);
}

@font-face {
    font-family: "DogicaBold";
    src: url(./font/dogicabold.ttf);
}

@font-face {
    font-family: "DogicaPixel";
    src: url(./font/dogicapixel.ttf);
}

@font-face {
    font-family: "dogicaPixelBold";
    src: url(./font/dogicapixelbold.ttf);
}


html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-image: linear-gradient(to right, rgb(31, 62, 35), rgb(23, 23, 23)); */
    /* background-image: linear-gradient(#020517,#020616); */
    /* background-image: url(./assets/bg2.gif); */
    /* background-image: url(./assets/bg10.gif);
    background-position: top;
    background-repeat: no-repeat; */
    background-color: #020517;


}


.background {
    background-image: url(./assets/bg10.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(34, 34, 34, 0.0)), url(./assets/bg10.gif);

}
.background2 {
    background-image: url(./assets/bg17.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(34, 34, 34, 0.0)), url(./assets/bg17.gif);

}
.background3 {
    background-image: url(./assets/bg21.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(34, 34, 34, 0.0)), url(./assets/bg21.gif);

}
.background4 {
    background-image: url(./assets/bg22.gif);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(34, 34, 34, 0.0)), url(./assets/bg2.gif);

}

.sticky {
    position:sticky;
    top:0;
}


.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: rgb(27, 28, 25); */
    background-color: #05091f;
    border-bottom: #2f323e 2px solid;
    
}

.navbar2 {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: rgb(26, 24, 24); */
    background-color: #020517;
}

.judul {
    text-align: center;
    font-family: "DogicaPixelBold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    padding: 30px;
    cursor: default;
    font-size: 30px;
    transform: scale(1);
    transition: transform 0.3s ease;

}



.cont-judul {
    /* text-align: left; */
    margin-left: 5%;
    /* align-items: center; */
    margin-top: 180px;
    border-left: #d0be35 8px solid;
    border-radius: 5px;
}


.judul:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #d0be35;
}

.judul::after {
    scale: 1;
}

.isi:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #d0be35;
}

.selamat {
    /* text-align: center; */
    text-align: left;
    font-family: "DogicaPixel", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #d4d2d2;
    /* color: #222; */
    margin-top: 100px;
    padding: 20px;
    cursor: default;
    /* text-shadow: #222222 2px 2px 8px; */
    font-size: 20px;
}

.isi {
    /* text-align: center; */
    text-align: left;
    font-family: "DogicaPixelBold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    /* color: #222; */
    padding-left: 20px;
    cursor: default;
    /* text-shadow: #222222 2px 2px 8px; */
}

.deskripsi {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #f0f0f0;
    /* color: #222; */
    padding-left: 20px;
    padding-right: 700px;
    margin-top: 40px;
    cursor: default;
    text-shadow: #222222 2px 2px 8px;
}

.cont-struktur {
    margin-top: 300px;
}

.struktur {
    text-align: center;
    font-family: "DogicaPixelBold", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    padding: 20px;
    cursor: default;
    justify-content: center;

}

.box {
    /* background-image: linear-gradient(to right, rgb(27, 115, 39), rgb(17, 79, 30)); */
    background-image: linear-gradient(to right, rgb(27, 108, 115), rgb(17, 40, 79));
    /* background-color: rgb(27, 28, 25); */
    border-radius: 5px;
    width: 400px;
    height: 140px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.boxS {
    /* background-image: linear-gradient(to right, rgb(27, 115, 39), rgb(17, 79, 30)); */
    background-image: linear-gradient(to right, rgb(27, 108, 115), rgb(17, 40, 79));
    /* background-color: rgb(27, 28, 25); */
    border-radius: 10px;
    width: 340px;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.boxPhotos {
    /* background-image: linear-gradient(to right, rgb(27, 115, 39), rgb(17, 79, 30)); */
    background-image: linear-gradient(to right, rgb(27, 108, 115), rgb(17, 40, 79));
    /* background-color: rgb(27, 28, 25); */
    border-radius: 10px;
    width: 320px;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}

@media (max-width: 768px) {
    .box {
        width: 80%;
        height: auto;
        padding: 20px;
    }

}

.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 200px;
    margin-top: 50px;
    box-shadow: #fefefe 0px 0px 0px 4px;
    /* margin-bottom: 10px; */
}

.boxNama {
    /* background-color: #222; */
    border-radius: 8px;
    width: 500px;
    height: 130px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    /* background-image: linear-gradient(#222222, #1c1917); */
    background-color: #111421;
    border: #2f323e 2px solid;

}

.perangkat {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    padding: 10px;
    cursor: default;
}

.nama {
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: large;
    margin-bottom: auto;
}

@media (max-width: 768px) {
    .boxNama {
        width: 90%;
        height: auto;
        padding: 20px;
    }

}

.footer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    background-color: #13162b;
    margin-top: 250px;
    border-top: #2f323e 2px solid;
}

.footerText {
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* text-align: center; */
    font-size: large;
    /* margin: auto; */
    margin-inline-start: auto;
    margin-inline-end: auto;
}

a {
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    /* text-align: center; */
    font-size: large;
    display: block;
    text-decoration: none;
    margin-inline-start: auto;
    margin-inline-end: auto;

}

@media (max-width: 768px) {
    .footerText {
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
    }

    a {
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

.card-group {
    margin-bottom: 200px;
}

.card {
    margin: 10px;
}

.table-responsive {
    overflow-x: auto;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    background-color: #f0f0f0;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

td:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2c384cfc;
    color: white;
}

.judulTable {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f0f0f0;
    padding: 20px;
    cursor: default;
    margin-top: 100px;
    margin-left: 4%;
}

@media (max-width: 768px) {
    .judulTable {
        text-align: left;
        margin-left: 0;
    }

}

@media (max-width: 768px) {

    table,
    td,
    th {
        width: 10%;
    }
}

@media screen and (max-width: 1070px) {
    .deskripsi {
        padding-right: 20px;

    }

}

@media screen and (max-width: 768px) {

    .selamat,
    .isi,
    .deskripsi {

        text-align: center;
        /* margin: 25px; */
    }
}

@media screen and (max-width: 768px) {
    .cont-judul {
        margin-top: 10px;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .background {
        background-image: linear-gradient(rgba(34, 34, 34, 0.0), rgb(0, 0, 0)), url(./assets/bg10.gif);
    }
}
@media screen and (max-width: 768px) {
    .background2 {
        background-image: linear-gradient(rgba(34, 34, 34, 0.0), rgb(0, 0, 0)), url(./assets/bg17.gif);
    }
}
@media screen and (max-width: 768px) {
    .background3 {
        background-image: linear-gradient(rgba(34, 34, 34, 0.0), rgb(0, 0, 0)), url(./assets/bg21.gif);
    }
}
@media screen and (max-width: 768px) {
    .background4 {
        background-image: linear-gradient(rgba(34, 34, 34, 0.0), rgb(0, 0, 0)), url(./assets/bg2.gif);
    }
}

@media screen and (max-width: 768px) {
    .selamat {
        text-shadow: #05091f 2px 2px 8px;
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media screen and (max-width: 768px) {
    .isi {
        margin-right: 35px;
    }
}

@media screen and (max-width: 768px) {
    .cont-struktur {
        margin-top: 150px;
    }
}

